## <b>LISTS AND TUPLE <hr style="border:2.5px solid rgba(255, 0, 0, 1)"></hr>

<b>NICHOLAI ESTARES</b><br>
Comptech Student T09<br>
12/9/2025

## <b>ITERATING OVER A LIST <hr style="border:2.5px solid rgba(255, 0, 0, 1)"></hr>

In [1]:
numbers = [1,2,3,4,5,6,7,8,9,10]

for n in numbers:
    if n%2 == 0:
        print(n)

2
4
6
8
10

In [2]:
# List Comprehension
numbers = [1,2,3,4,5,6,7,8,9,10]
result = [n for n in numbers if n%2 == 0]
result

[2, 4, 6, 8, 10]

# <b>ITERATING OVER A DICTIONARY <hr style="border:2.5px solid rgba(255, 0, 0, 1)"></hr>

In [3]:
for char in "Python":
    print(char)

P
y
t
h
o
n

In [4]:
# key value pair
employee = {'name':['AG','Ashe'],
            'position': ['Engineer', 'Gamer'],
            'salary': [100000, 10000]
}

for key in employee:
    print(key)

name
position
salary

In [5]:
employee['salary']

[100000, 10000]

In [6]:
for value in employee.values():
    print(value)

['AG', 'Ashe']
['Engineer', 'Gamer']
[100000, 10000]

## <b>LAMBDA FUNCTION <hr style="border:2.5px solid rgba(255, 0, 0, 1)"></hr>

In [7]:
def mul_by_2(x):
    return x*2

print(mul_by_2(4))

8

In [8]:
y = 4
mul_lambda = lambda x: x*2
print(mul_lambda(y))

8

In [9]:
type(x)

NameError: name 'x' is not defined